* {
    box-sizing: border-box;
  }
  
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
 
  
  
  /* Add a card effect */
  .cards {
     background-color: rgb(226, 224, 253);
     padding: 20px;
     margin-top: 1rem;
  }
  .cards h2 {
    padding: 0 1rem;
  }
  .card {
    background-color: rgb(234, 231, 238);
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .card .title {
    /* border: solid #444 1px; */
    padding: .3rem;
    border-radius: 10px;
    background: rgb(87, 87, 243);
    color: rgb(238, 237, 248);
  }
.card p {
  padding-top: 0.5rem;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }